/* Estilos Generales */
:root {
  --MinCream: #243e36;
  --ShinyShamrock: #7ca982;
  --GhostWhite: #ecebf3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  user-select: none;
}
body {
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  width: 100%;
  padding: 1em;
  top: 0;
	left: 0;
  background-color: var(--MinCream);
  color: var(--GhostWhite);
  position: fixed;
  z-index:2;
}

/* Contenido principal */
section {
  margin-top: 4rem;
  padding-top: 1rem;
  text-align: center;
}
section > p, section > h2 {
  margin: 1rem 2rem;
  line-height: 1.5rem;
}
.paisesContainer {
  margin: 2em;
  padding: 1em;
  border-radius: 15px;
  display: grid;
  background-color: var(--ShinyShamrock);
}

#spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Estilos de card */
.paisContainer {
  padding: 1rem;
  line-height: 1.5rem;
}
.flags {
  width: 10rem;
  border-radius: 10px;
}
button{
  margin-top: 0.5rem;
  padding: 0.5em;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: var(--MinCream);
  color: var(--GhostWhite);
}
button:hover {
  box-shadow: 3px 3px 10px black;
}

/* Estilos del modal */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -10;
}
/* Modal abierto o cerrado */
.open-modal{
  visibility: visible;
  z-index: 10;
}
.modalContainer {
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--ShinyShamrock);
  line-height: 2rem;
}

/* Go Up Button */
#goUpBtn {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 3rem;
  z-index: 9;
  border: none;
  outline: none;
  background-color: var(--GhostWhite);
  color: black;
  cursor: pointer;
  padding: 1rem;
  border-radius: 3rem;
  font-size: 1.5rem;
}

/* Footer */
footer {
  padding: 1em;
  width: 100%;
  background-color: var(--MinCream);
  color: var(--GhostWhite);
  background-size: cover;
}

@media only screen and (min-width: 600px) {
  .paisesContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 768px) {
  .paisesContainer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
